h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    text-align: start;
    font-weight: bold;
    color: rgb(255, 230, 0);
    text-shadow: 2px 2px 4px rgb(243, 68, 68);
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-align: center;
    color: rgba(26, 223, 0, 0.822);
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

}

.whatsapp_button {
    text-align: center;
}

body {
    background-color: #202020;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

button:hover {
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    border:rgb(7, 34, 4);
    border-style: inset;
    padding: 1px 7px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition:background-color 0.5s;
}

span {
    font-weight: bold;
    text-decoration: underline;
}
